html, body {
    height: 100%;
}
body {
    font-family: 'Times New Roman', Times, serif;
}
img {
    width: 100px;
    height: 100px;
}
.Text {
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
}
.Logo>ol {
    list-style: upper-roman;
}
